body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Contenedor principal */
.container {
  position: relative; /* Hacemos que el contenedor sea relativo para que la tarjeta se posicione encima */
  display: flex; /* Usamos Flexbox para la disposición de las secciones de color */
  height: 100vh; /* Aseguramos que ocupe toda la altura de la pantalla */
}

/* La mitad izquierda con el color #E6DACE (café claro) */
.left-half {
  background-color: #E6DACE;
  width: 45%; /* El 35% del ancho de la pantalla */
  height: 100%; /* Ocupa toda la altura de la pantalla */
  padding: 10px;
}


/* Media Queries para pantallas más pequeñas (móviles, tabletas) */
@media (max-width: 480px) {
  .container {
    flex-direction: column; /* Cambiar a columna para apilar las mitades en pantallas pequeñas */
    height: auto; /* Dejamos que la altura se ajuste al contenido */
  }

  .left-half, .right-half {
    width: 100%; /* Ambas mitades ocupan el 100% del ancho en pantallas pequeñas */
   
    padding: 20px; /* Añadimos más espacio alrededor para mejor visualización en móvil */
  }
  

  .card {
    width: 90%; /* Hacemos que la tarjeta ocupe el 90% del ancho en pantallas pequeñas */
    margin: 20px auto; /* Centra la tarjeta en la pantalla */
    padding: 15px; /* Reducimos el padding para que sea adecuado en móviles */
  }
}
.tar-img {
  max-width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente */
}

